/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: var(--blanco);
  color: var(--negro);
  font-family: var(--h4);
  font-size: var(--fs);
}

a,
a:hover,
a:active,
a:focus {
  outline: none !important;
  text-decoration: none !important;
}

h1 {
  font-size: var(--fs-h1);
  /* line-height: 50px; */
  font-weight: 600;
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

h4 {
  font-size: var(--fs-h4);
}

ul {
  padding-left: 0px;
  display: grid;
  /* gap: var(--gap-4xs); */
  margin: 20px 0px;
}

li {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 18px;
  text-align: left;
  /* font-size: var(--h5-size); */
  /* color: var(--blanco); */
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  padding-block: 10px;

  /* font-weight: 500; */
}

.top-section {
  padding-top: 94px !important;
}
/*--------------------------------------------------------------
# Button
--------------------------------------------------------------*/

.btn {
  padding: 12px 24px;
  border-radius: 10px;
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-5xl);
  border-radius: var(--br-9xs);
  font-size: var(--fs-btn);
  /* font-size: 18px; */
  border-radius: 4px;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 24px;
  box-shadow: 0 0 0 0 !important;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active {
  color: var(--blanco);
  background-color: var(--blue-light);
  border-color: var(--blue-light);
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:hover {
  color: var(--negro);
  background-color: var(--color-whitesmoke-100);
  border-color: var(--color-whitesmoke-100);
}

.btn-start,
.btn-start:focus,
.btn-start:hover,
.btn-start:active {
  color: var(--azul-primario);
  background-color: var(--blue-light);
  border-color: var(--blue-light);
}

.btn-header,
.btn-header:focus,
.btn-header:active,
.btn-header:hover {
  color: var(--blanco);
  background-color: var(--green);
  border-color: var(--green);
}

.btn-link,
.btn-link:focus,
.btn-link:active,
.btn-link:hover {
  color: var(--blue-light);
  background-color: var(--blanco);
  border-color: 2px solid var(--blue-light);
}

.btn-info,
.btn-info:focus,
.btn-info:active,
.btn-info:hover {
  color: var(--azul-primario);
  background-color: var(--blanco);
  border-color: var(--azul-primario);
  display: flex;
  align-items: center;
}

.btn-login,
.btn-login:focus,
.btn-login:active,
.btn-login:hover {
  color: var(--color-font-principal);
  background-color: transparent;
  border-color: transparent;
  display: contents;
  padding-right: 10px;
}

.btn-questions,
.btn-questions:focus,
.btn-questions:active,
.btn-questions:hover {
  background-color: #175fe2;
  color: white !important;
  border-radius: 4px;
  box-shadow: none;
  text-shadow: none;
  font-weight: normal;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  width: 244px;
  height: 52px;
  color: var(--azul-primario);
  border: 2px solid;
  border-color: var(--celeste-secundario);
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 20px;
  bottom: 100px;
  z-index: 996;
  background: #007bff;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #2990ff;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Bootstrap
--------------------------------------------------------------*/

.carousel-indicators {
  position: relative !important;
  margin-top: 30px;
}

.carousel-indicators.custom-indicators li {
  background-color: #686363;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 0.7;
  padding-block: 0px;
}

.carousel-indicators.custom-indicators li.active {
  background-color: var(--azul-primario);
  opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #007bff;
  border-radius: 50%;
}

.carousel-item .row {
  display: flex;
  justify-content: center;
}

.carousel-item .col-md-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  background-color: rgba(255, 255, 255, 0.5);
}

.carousel-item .row {
  display: flex;
  justify-content: center;
}

.carousel-item .col-md-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*--------------------------------------------------------------
# Menu languages
--------------------------------------------------------------*/
#dropdown-content-language .close-btn {
  border: none !important;
  background-color: transparent !important;
  scale: 2;
  margin-left: 13px;
  margin-top: 10px;
  margin-bottom: 12px;
}

.language-selector .dropdown-content {
  display: none; /* Por defecto, no se muestra */
}

.language-selector.active .dropdown-content {
  display: block; /* Se muestra cuando .active está en .language-selector */
}

.close-btn {
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.language-selector {
  position: relative;
  display: inline-block;
  border: none !important;
  outline: none;
}

.language-selector i {
  outline: none !important;
}

.language-selector i:focus {
  outline: none !important;
  border: none !important;
}

.dropbtn {
  color: var(--color-font-principal);
  background-color: transparent;
  border: none !important;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  background-color: var(--blanco);
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  margin-top: 10px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--blanco);
}

.iniciar-sesion {
  font-size: 16px;
  color: black;
  font-weight: 600 !important;
}

@media (max-width: 1000px) {
  .dropbtn {
    padding-right: 12px;
  }
}

.image-slide {
  width: 100% !important;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 15px;
  right: 15px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 28px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.my-float::before {
  margin-top: 16px;
  color: #fff;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.language-selector {
  width: 27px;
  border: none !important;
}

.language-selector,
.navbar-right-icons > div {
  display: flex;
  align-items: center;
  border: none !important;
}

.iniciar-sesion {
  text-wrap: nowrap;
  margin: 0;
}

.logo-container {
  padding-left: 15px !important;
}

@media (max-width: 1000px) {
  .logo-container {
    padding-left: 15px !important;
    padding-right: 25px !important;
  }

  #header .container {
    gap: 0px !important;
    padding-left: 15px !important;
    padding-right: 20px !important;
  }

  #header img {
    max-width: 80px;
  }

  .iniciar-sesion {
    text-wrap: wrap;
  }
}
/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/

.container {
  max-width: 80% !important;
}

.frame {
  padding: 10px 25px 20px 20px;

  /* padding-left: 15%; */
}

.frame-header {
  margin-bottom: 30px;
}

.frame-header-info {
  margin-bottom: 30px;
  font-size: 1.2em;
}

.frame-header-title {
  margin: 0;
  align-self: stretch;
  /* height: 165px; */
  position: relative;
  font-size: var(--h1-size);
  line-height: 55px;
  font-weight: 600;
  font-family: inherit;
  color: #fff;
  text-align: left;
  display: inline-block;
  max-width: 550px;
}

.frame-body {
  margin-bottom: 20px;
}

.frame-body-item {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 18px;
  text-align: left;
  font-size: var(--h5-size);
  color: var(--blanco);
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  padding-block: 10px;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  overflow: hidden;
}

/* logos Section
--------------------------------*/
#logos {
  padding: 55px 0;
  background-color: var(--background-ligth);
}

#logos .container {
  max-width: 100% !important;
  /* padding: 0px 0px 0px 10%; */
}

#logos .opacity {
  opacity: 0.7;
}

.logo-slider {
  overflow: hidden;
  white-space: nowrap;
}
.logo-slider .logo {
  display: inline-block;
  padding: 0 60px;
  white-space: nowrap;
}
.logo-slider .logo img {
  max-height: 100px;
  position: relative;
  flex-shrink: 0;
  max-height: 93px;
  max-width: 180px;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.logo-slider .slider-track-company {
  display: inline-block;
  animation: slide 100s linear infinite;
}

.logo-slider .slider-track-it {
  display: inline-block;
  animation: slide 100s linear infinite;
}

/*--------------------------------------------------------------
# home Section
--------------------------------------------------------------*/
#home-hero {
  padding: 25px;
}

#home-hero .home-inner-text h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 55px;
  color: var(--azul-primario);
  padding: 0px;
  margin-bottom: 42px;
}

#home-hero .home-inner-text ul {
  padding: 0px;
  margin: 0px;
}

#home-hero .home-inner-text li span {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: black;
  padding: 0px;
  margin: 0px;
}

#home_btn {
  padding: 10px 24px !important;
  border: 2px solid var(--blue-light);
  background-color: var(--blue-light);
  line-height: 28px;
  min-width: 180px !important;
  min-height: 52px !important;
  padding: 0px;
  margin-top: 42px;
}

#home-hero .hero-mobile {
  width: 100%;
  margin-top: 50px;
}

.br-title-2 {
  display: none !important;
}

@media screen and (min-width: 992px) {
  #home-hero {
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
    max-height: 610px !important;
  }

  #home-hero .hero-desktop {
    height: 610px !important;
    width: 100% !important;
    margin-top: 0px;
    position: relative;
  }

  .home-inner-text {
    padding: 68.5px 148px 70.5px 101px !important;
    background: linear-gradient(
      90deg,
      #ffffff 40%,
      rgba(255, 255, 255, 0) 100%
    );
    position: absolute;
    left: 0;
    min-width: 898px !important;
    height: 610px;
    z-index: 10;
  }
}

@media screen and (min-width: 1800px) {
  .br-title {
    display: none;
  }

  .br-title-2 {
    display: block !important;
  }
}

@media screen and (min-width: 2300px) {
  .br-title-2 {
    display: none !important;
  }
}

/* webApp
--------------------------------*/

#webApp {
  background-color: var(--blanco);
  padding-top: 87.3px;
  padding-bottom: 115px;
}

.background {
  background-color: var(--background-ligth) !important;
}

.webapp-items {
  gap: 25.5px;
}

#webApp h1 {
  text-align: center;
  font-weight: 500;
  position: relative;
  color: var(--azul-primario);
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 71px;
}

#webApp h4 {
  font-weight: 600;
  color: var(--azul-primario);
}

#webApp h6 {
  font-size: 16px !important;
  font-weight: 500;
  opacity: 40%;
  margin-top: 24px;
}

#webApp p {
  line-height: 29px;
  padding: 12px 0px 49px 0px;
  opacity: 0.8;
}

#webApp .card .title {
  display: flex;
}

#webApp .mobile-card {
  padding: 50px 25px 12px 35px !important;
  border: 1px solid var(--grey-ligth);
  box-shadow: 4px 0px 10px var(--grey-ligth);
  max-width: 402px !important;
  min-width: fit-content;
  border-radius: 20px 20px 0px 0px;
}

.webapp-img {
  height: 178px !important;
}

#webApp .clock {
  width: 22px;
  height: 21px;
  margin-right: 8px;
  opacity: 40%;
}

#webApp .mobile-card img {
  max-width: 35px;
  margin-bottom: 4px;
}

#webApp .mobile-card h4 {
  color: var(--blue-light);
  font-weight: 600;
  padding-left: 15px;
  vertical-align: bottom;
  align-items: end;
  display: grid;
}

@media (min-width: 1890px) {
  #webApp .mobile-card {
    min-width: 600px;
    height: 100%;
  }

  .con-ciom-img {
    width: 100% !important;
  }

  .webapp-items {
    gap: 50.5px;
  }
}

@media (max-width: 1500px) {
  #webApp .howWorks {
    padding: 0px 10px;
  }

  #webApp .container {
    max-width: 95% !important;
  }
}

/* fortune Section
--------------------------------*/
#fortune {
  padding: 55px 0 !important;
  color: var(--blanco) !important;
  background-color: var(--blue-light) !important;
}

#fortune strong {
  font-weight: 700;
}

#fortune .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#fortune h1 {
  text-align: center;
  font-weight: 100;
}

/* Facturacion Section
--------------------------------*/
#facturacion {
  padding: 31px 0;
  color: var(--blanco);
  background-color: var(--blue-light);
}

#facturacion .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#facturacion h1 {
  text-align: center;
  font-weight: 100;
}

@media screen and (max-width: 1000px) {
  #facturacion {
    padding: 31px 20px;
  }
}

/*--------------------------------------------------------------
# measures Section
--------------------------------------------------------------*/

#measures {
  padding: 86.56px 0 67.44px 0;
}

#measures h1 {
  color: var(--azul-primario);
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 50px;
}

.card-body {
  min-width: 233.4px;
  height: 130px;
  padding: 0px;
}

.programa-title-green {
  background-color: var(--green) !important;
}

.body ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body ul li {
  padding: 0 !important;
}

.body ul li a {
  color: var(--azul-primario);
  font-weight: 500;
  font-size: 18px;
  text-decoration: underline;
}

#measuresItem .container {
  max-width: 95% !important;
}

#measuresItem h1 {
  color: var(--blue-light);
  text-align: center;
  font-weight: 100;
}

#measures h2 {
  margin-top: 24px;
  margin-bottom: 24px;
  line-height: 32px;
}

#measuresItem .body {
  border: 1px solid var(--grey);
  border-radius: 15px;
}

.measures-inner {
  gap: 40px;
  padding: 45px 0px;
}

#measuresItem .title {
  padding: 15px 10px;
  line-height: 28px;
  background-color: var(--blue-light);
  color: var(--blanco);
  font-weight: 600;
  border-radius: 8px 8px 0px 0px;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .card-body {
    width: 100%;
    height: 130px;
    padding: 0px;
  }
}

@media (max-width: 1300px) {
  #measuresItem .container {
    max-width: 100% !important;
  }
}

/*--------------------------------------------------------------
# methodology Section
--------------------------------------------------------------*/

#methodology {
  padding: 0 88px 0 95px;
  min-height: 574px;
}

#methodology .body {
  margin-top: 72px;
  max-width: 500px;
  max-height: 398px;
}

#methodology h1 {
  font-size: 36px;
  line-height: 50px;
  font-weight: 600;
  color: var(--azul-primario);
  margin: 0px;
}

#methodology .body-list {
  margin-top: 42px;
  gap: 34px;
}

#methodology h2 {
  color: var(--negro);
  font-size: 18px;
  line-height: 32px;
  margin: 0;
  font-weight: 400;
}

@media (max-width: 992px) {
  #methodology {
    padding: 20px;
    min-height: 900px !important;
  }

  #methodology .body {
    margin-top: 30px;
    max-width: 500px;
    min-height: 600px !important;
  }
}

@media screen and (min-width: 992px) {
  #methodology {
    max-height: 574px !important;
  }
}

@media (min-width: 1500px) {
  #methodology {
    max-width: 80%;
    margin: auto;
  }
}

/* Objetivo Section
--------------------------------*/
#objetivo {
  padding: 31px 0;
  color: var(--blanco);
  background-color: var(--blue-light);
  margin: 48px 0px;
}

#objetivo .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#objetivo h1 {
  text-align: center;
  font-weight: 100;
}

@media (max-width: 1000px) {
  #objetivo {
    padding: 31px 20px;
    color: var(--blanco);
    background-color: var(--blue-light);
    margin: 48px 0px;
  }
}

/* statistics
--------------------------------*/
#statistics {
  padding: 137px 125px 114px 107px;
  color: var(--blanco);
  background-color: var(--blue-light);
}

#statistics .container {
  max-width: 100% !important;
  display: flex;
  flex-direction: column;
  gap: 173px;
}

#statistics .content {
  justify-content: center;
  align-items: center;
  gap: 77px;
}

#statistics .content-indicadores {
  justify-content: center;
  align-items: center;
  gap: 51px !important;
}

.inner-statistics {
  max-width: 512px !important;
  height: auto;
}

.inner-statistics h2 {
  font-weight: 400;
  text-wrap: nowrap;
}

.inner-statistics h1 {
  font-weight: 600 !important;
  text-wrap: nowrap;
  font-size: 36px !important;
}

.statistics-item {
  width: 210px;
  height: 77px;
  margin-right: 62px;
}

#statistics img {
  width: 45px;
  height: 45px;
}

#statistics_title {
  max-width: 523px !important;
  font-size: 36px;
  font-weight: 600;
  line-height: 50px;
}

#statistics_indicadores_title {
  max-width: 523px;
  font-size: 36px;
  font-weight: 600;
  line-height: 50px;
}

#statistics_tercerizacion_title {
  max-width: 583px !important;
  width: 100%;
  font-size: 36px;
  font-weight: 600;
  line-height: 50px;
}

#statistics_app_title {
  max-width: 583px;
  line-height: 50px;
}

#statistics .btn {
  border: 2px solid var(--celeste-secundario);
  color: var(--blanco);
  background-color: var(--blue-light);
  padding: 8px 40px;
  line-height: 28px;
}

.inner-statistics_tercerizacion {
  max-width: 512px !important;
  height: auto !important;
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner-statistics_programa {
  max-width: 512px !important;
  height: auto !important;
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner-statistics_indicadores {
  max-width: 512px !important;
  height: auto !important;
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (min-width: 1000px) {
  .inner-statistics_tercerizacion {
    max-width: 512px !important;
    height: 249px !important;
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1500px) {
  #statistics .container {
    max-width: 80% !important;
  }

  #statistics .container {
    max-width: 1240px !important;
  }
}

@media (max-width: 1000px) {
  .inner-statistics {
    max-width: 512px !important;
    min-height: 216px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inner-statistics_programa {
    max-width: 512px !important;
    min-height: 216px;
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .inner-statistics_indicadores {
    max-width: 512px !important;
    min-height: 216px !important;
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .inner-statistics_tercerizacion {
    max-width: 512px !important;
    min-height: 249px;
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #statistics .container {
    gap: 45px;
  }

  .statistics-item {
    margin-right: 0px;
  }

  #statistics {
    padding: 50px 0px;
  }

  #statistics .btn {
    width: 100%;
  }

  #statistics h1 {
    text-align: center;
  }
}

/*--------------------------------------------------------------
# additional-service Section
--------------------------------------------------------------*/

#additional-service {
  min-height: 574px;
  padding: 0px 133px 0px 81px;
}

#additional-service .body {
  max-width: 586.13px;
  max-height: 324px;
  display: flex;
  flex-direction: column;
  margin-left: 32px;
  margin-top: 64px;
}

#additional-service .inner-body {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

#additional-service h1 {
  color: var(--azul-primario);
  font-size: 36px !important;
  line-height: 50px;
  font-weight: 600;
  margin-bottom: 42px;
}

#additional-service i {
  font-size: var(--fs-i);
  color: var(--blue-light);
  margin-right: 24px;
}

#additional-service img {
  min-width: 350px;
  width: 100% !important;
  object-fit: cover;
}

#additional-service .inner-body div {
  display: flex;
  align-items: self-start;
}

@media screen and (min-width: 992px) {
  #additional-service .inner-body div {
    align-items: center !important;
    height: 32px;
  }

  #additional-service img {
    max-width: 621px !important;
  }

  #additional-service {
    max-height: 574px;
    padding: 24px 133px 0px 81px;
  }
}

@media (max-width: 1157px) {
  #additional-service {
    padding: 0 20px;
    margin-top: 30px;
  }

  #additional-service .body {
    min-height: 550px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 0px;
  }

  .additional-inner {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 2000px) {
  #additional-service .body {
    margin-left: auto;
    margin-right: auto;
  }

  .additional-inner {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #additional_title {
    text-wrap: nowrap;
  }
}

/*--------------------------------------------------------------
# prices Section
--------------------------------------------------------------*/
#prices {
  background-color: var(--blanco);
  padding: 50px 0 30px 0;
}

#prices .container h2 {
  font-weight: 400;
  font-size: 18px;
  margin-top: -24px;
  margin-bottom: 36px;
}

#prices .container2 h2 {
  font-weight: 400;
  font-size: 18px;
  margin-top: 24px;
  margin-bottom: 36px;
}

#prices .cards-main-container {
  margin-top: 16px !important;
  display: flex !important;
  justify-content: space-between !important;
  padding: 0px 0px !important;
  margin-left: auto;
  margin-right: auto;
  max-width: 2500px !important;
}

#prices h1 {
  color: var(--azul-primario);
  text-align: center;
  font-weight: 600;
  font-size: 36px;
}

#prices .price-switch {
  display: flex;
  align-items: center;
  font-weight: 600;
  justify-content: center;
  gap: var(--gap-xs);
  font-size: 15px;
  color: var(--blue-light);
  margin-bottom: 5px;
}

#prices .row {
  flex-direction: row;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  align-items: end;
}

#prices .card {
  flex: 1;
  box-shadow: 34.9px 29.6px 48.34px rgba(51, 102, 255, 0.05);
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #dce1ff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 30px;
  gap: 22px;
  min-width: 311.5px;
  height: 898px;
}

#prices .card {
  transition: all 0.3s ease;
}

#prices .card:hover,
#prices .card.selected {
  border-radius: 20px;
  background-color: #fff;
  border: 2px solid #002e8a;
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  gap: 20px;
  box-shadow: 0 0 20px 20px rgba(6, 29, 113, 0.2);
  min-width: 311.5px;
}

#prices .card-body-header {
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}

#prices .card-body-header .content {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

#prices .card-body-header .content .icon {
  width: 23px;
  position: relative;
  height: 21px;
  overflow: hidden;
  flex-shrink: 0;
}

#prices .card-body-header .content .icon1 {
  width: 20.5px;
  position: relative;
  height: 24.5px;
  overflow: hidden;
  flex-shrink: 0;
}

#prices .card-body-header .content .icon2 {
  width: 23px;
  position: relative;
  height: 25px;
  overflow: hidden;
  flex-shrink: 0;
}

#prices .card-body-header .content .icon3 {
  width: 23px;
  position: relative;
  height: 28.5px;
  overflow: hidden;
  flex-shrink: 0;
}

#prices .card-body-header .content .title {
  flex: 1;
  position: relative;
  line-height: 27px;
  font-weight: 700;
  margin-left: 22px;
  font-size: 18px !important;
}

#prices .card-body-header .description {
  align-self: stretch;
  position: relative;
  line-height: 25px;
  font-weight: 500;
  font-size: 16px !important;
  opacity: 0.8;
  min-height: auto;
  margin-top: 22px;
  min-width: 251px;
}

#prices .price {
  flex-direction: row;
  align-items: center;
  color: #2d2d2d;
}

#prices .price .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#prices .price .content .d {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  gap: 18px;
}

#prices .price .content .d .value {
  position: relative;
  letter-spacing: -0.02em;
  display: flex;
  align-items: baseline;
}

#prices .price .content .d .span {
  font-size: 50px;
}

#prices .price .content .d .info {
  /* width: 122px; */
  position: relative;
  font-size: var(--fs-li-sm);
  /* line-height: 140%; */
  font-weight: 500;
  color: #2b2b2b;
  display: inline-block;
  flex-shrink: 0;
  opacity: 0.6;
}

#prices .price .content .d .custom {
  font-size: 18px;
  font-weight: 600;
}

#prices .price .content .d .info .item {
  margin: 0;
  font-size: 12px !important;
}

#prices i {
  font-size: var(--fs-i);
  color: var(--blue-light);
}

#prices .pricing-features {
  align-self: stretch;
  display: flex;
  font-size: 16px !important;
  flex-direction: column;
  color: #2d2d2d;
  padding: 0px !important;
  margin: 0px !important;
  gap: 16px;
}

#prices .pricing-features h2 {
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
}

#prices .price .content .d .value .span-numb {
  font-size: 22px !important;
  margin-left: 12.5px;
}

#prices .price .content .d .span {
  font-size: 50px !important;
  font-weight: 700 !important;
}

#prices .price .content .d span {
  font-size: 22px !important;
  font-weight: 700 !important;
}

#prices .pricing-features .grey-item {
  opacity: 40%;
}

#prices .pricing-item {
  height: 133px;
}

#prices .pricing-item-1 {
  height: 133px;
}

#prices .pricing-item-2 {
  height: 126px;
}

#prices .pricing-item-2-1 {
  height: 140px;
}

#prices .pricing-item-3 {
  height: 450px;
}

#prices .pricing-features .item {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  justify-content: flex-start;
}

#prices .pricing-features .item img {
  width: 20px;
  position: relative;
  height: 20px;
}

#prices .pricing-features .item .text {
  flex: 1;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 20.8px;
}

#prices a {
  background-color: transparent;
  color: var(--blue-light);
  min-height: 52px;
  width: 251.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

@media screen and (min-width: 992px) {
  #prices .cards-main-container {
    padding: 0px 55px !important;
  }
}

@media screen and (min-width: 1700px) {
  #prices .cards-main-container {
    margin-top: 16px !important;
    display: flex !important;
    justify-content: space-between !important;
    padding: 0px 55px !important;
    max-width: 80% !important;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 800px) {
  #prices .container {
    max-width: 95% !important;
  }

  #prices .price-switch-text {
    display: none;
  }
}

/*--------------------------------------------------------------
# help Section
--------------------------------------------------------------*/
#help,
#capitalize {
  color: var(--blanco);
  margin-top: 57px;
}

#help .frame,
#capitalize .frame {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  background-color: var(--blue-light);
  align-items: center;
  padding: 68px 40px;
}

#help .prompt,
#capitalize .prompt {
  display: flex;
  box-sizing: border-box;
  max-width: 100%;
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-4xs);
  gap: var(--gap-13xl);
}

#help .body,
#capitalize .body {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: 10px;
}

#help h1,
#capitalize h1 {
  font-weight: 600;
  line-height: 50px;
  color: var(--blanco);
  font-size: var(--fs-bg);
}

#help p,
#capitalize p {
  font-weight: 500;
  color: var(--blanco);
  line-height: 32px;
}

#help .btn,
#capitalize .btn {
  border: 2px solid var(--celeste-secundario);
  color: var(--blanco);
  background-color: var(--blue-light);
}

#help .saber-mas-btns {
  gap: 19px;
}

@media screen and (min-width: 992px) {
  #help .frame,
  #capitalize .frame {
    padding: 68px 78px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

/* @media screen and (min-width: 768px) {
  #footer {
    height: 424px;
  }

  #footer p {
    max-width: 342px;
  }

  .footer-items-rigth {
    margin-top: 0px;
    gap: 97px;
  }

  #footer .legal-container {
    gap: 60px;
    margin-bottom: 0px;
  }
} */

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.expandable-content {
  transition: all 0.3s ease;
}

.hidden {
  display: none;
}

.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: var(--blanco);
  padding: 15px;
  text-align: center;
  z-index: 1000;
}

.cookie-banner button {
  margin: 10px;
}

.plans-divider-1 {
  width: 100%;
  border: rgba(43, 43, 43, 0.1) 1px solid;
  margin: 22px 0px;
}

.plans-divider-2 {
  width: 100%;
  border: rgba(43, 43, 43, 0.1) 1px solid;
  margin-top: 24px;
}

/* -----------------Testimonials 2 ------------*/

#testimonials-2 {
  height: 709px;
  padding: 20px 25px !important;
}

.header-testimonials {
  display: flex !important;
  width: 100%;
  gap: 80px;
  overflow: hidden;
}

.swiper2 {
  margin-top: 50px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 600px;
  overflow: hidden;
  margin: auto;
}

.swiper3 {
  margin-top: 10px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 420px;
  overflow: hidden;
  margin: auto;
}

.wrapper,
.wrapper3 {
  margin-top: 80px;
  display: flex;
  align-items: center !important;
  margin: auto;
}

.swiper-slide2 {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  align-items: center;
}

.swiper-pagination2,
.swiper-pagination3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card2 {
  width: 375px !important;
  height: 420px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px !important;
  padding: 40px 32px 52px 32px !important;
}

#testimonials-2 .card2 p {
  font-size: 14px !important;
  font-weight: 400;
  line-height: 24px;
  text-align: start !important;
}

#testimonials-2 .card2 .header-testimonials .client-content2 {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
  align-items: start !important;
}

.client-name {
  font-weight: 600 !important;
}

.company-icon2 {
  width: 67px !important;
  height: auto !important;
}

.stars-container img.star {
  width: 24px;
  height: auto;
}
.stars-container {
  display: flex;
  gap: 25px;
}

.swiper {
  width: 100%;
  height: 800px;
  position: relative;
  background-color: #f7faff;
}

.swiper h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 50px;
}

#ciomers-swiper {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 295px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 295px;
}

.swiper-slide img {
  position: absolute;
  display: block;
  width: 100%;
  height: 295px;
  max-height: 295px;
  object-fit: cover;
}

.swiper-pagination,
.swiper-pagination3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet {
  background: var(--grey);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 0.7;
  margin: 0 4px;
}

.swiper-pagination-bullet-active {
  background: var(--blue-light); /* Color del punto activo */
}

@media screen and (min-width: 768px) {
  .swiper {
    height: 739px;
  }
  .swiper-pagination {
    margin-bottom: 87px !important;
  }
  .swiper-wrapper-imgs {
    padding-left: 92px;
  }
  .swiper-ciomers {
    height: 690px !important;
  }
}

@media screen and (min-width: 768px) {
  #testimonials-2 {
    height: 709px !important;
    padding-top: 100px !important;
    padding-bottom: 72px !important;
    margin-top: 0px !important;
  }

  .wrapper,
  .wrapper3 {
    display: flex;
    max-width: 1233px;
  }

  .testimonials-title {
    margin-bottom: 42px;
  }
  .swiper2 {
    margin-top: 0px !important;
    height: 537px;
    max-width: 1212px;
  }
  .swiper-pagination2 {
    margin-top: 25px !important;
  }
  .card2 {
    width: 384px !important;
    height: 376px !important;
  }
}

/* ----- Footer----- */

footer {
  background-color: var(--blue-light);
  padding: 35px 20px;
  color: white;
  margin-top: 79px;
}

footer h1 {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  padding: 0px !important;
  margin: 0px !important;
  height: 32px !important;
  margin-bottom: 10px !important;
}

footer h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 0px !important;
  margin: 0px !important;
  letter-spacing: -0.05em !important;
}

footer a {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 0px !important;
  margin: 0px !important;
  color: white;
  opacity: 80% !important;
  letter-spacing: -0.05em;
}

footer a:hover {
  color: white;
}

.footer-1 {
  text-wrap: wrap;
}

.footer-1 img {
  margin-bottom: 15px;
  max-width: 114px;
  height: 33px;
}

.footer-right-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-footer {
  font-weight: 600 !important;
}

.footer-divider {
  width: 100%;
  border: 1px solid var(--celeste-secundario);
  margin-top: 65px;
  margin-bottom: 25px;
}

.footer-icons {
  display: flex;
  gap: 32px;
  align-items: center;
  height: 24px;
}

.footer-icons img {
  scale: 1.2;
}

@media screen and (min-width: 1265px) {
  footer {
    padding: 103.5px 138px 63.5px 138px;
  }

  .footer-1 {
    text-wrap: nowrap;
    margin-right: 54px;
    width: 342px !important;
  }

  .footer-2,
  .footer-3,
  .footer-4 {
    width: 190px !important;
  }

  .terms-container {
    gap: 60px;
  }

  .footer-right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    gap: 20px !important;
  }
}
